
/* 
    Created on : 25.02.2015, 16:18:54
    Author     : Daria Pleshchankova
*/

.main {
    font-size: 24px;
    width: 90%;
}
	
.messages {
	position: absolute;
	margin-top: 13%;
	margin-left: 14%;
}

.items {
   max-width: 635px;
   max-height: 190px;
   overflow-y: scroll;
}

.ava img {
   position: absolute;
   margin-right: auto;
   background: #FFFAFA;
   width: 190px;
   height: 190px;
   padding: 8px;
   position: absolute;
   top: 4%;
   left: 2%;
}

.editable {
	position: absolute;
    font-size: 100%; 
    line-height: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #ffffff; 
    margin-left: 13%;
    margin-top: 24px; 
}

.avf {
	width: 30px;
	heigth: 30px;
}

.server {
	margin-left: 2%;
	color: #000000; 
}

.server-style {
	color: #000000; 
}

.message {
	color: #ffffff;
}